@import "tailwindcss";

@theme {
  --color-primary: #4A5D4E;
  --color-secondary: #A3B18A;
  --color-accent: #BC6C25;
  --color-neutral-warm: #FDFCFB;
  --color-success: #588157;
  --color-error: #ae2012;
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-800 antialiased;
  }
}

/* Compensar altura da Barra de Mockup Fixa no topo de 48px */
body.mock-banner-active nav {
  top: 48px !important;
}

body.mock-banner-active main section.pt-24 {
  padding-top: 8rem; /* 128px */
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary/90 text-white font-bold py-3 px-8 rounded-full transition-all transform hover:scale-105 shadow-lg;
  }
}
